.contact{
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px 10px;
    background-color: rgb(162, 162, 162);
}

.contact:hover{
    background-color: rgb(181, 181, 181);
}

body{
    display: block;
    text-align: center;
    margin: auto;
    max-width: 80%;
    line-height: 1.5em;
}

.aboutme{
    background-color:rgb(255, 80, 0);
    padding: 15px;
    border-radius: 30px 30px 0px 0px;
}

.about-me{
    margin: auto;
    padding: 20px 8px;
    background-color: #b6b6b6;
    border-radius: 0px 0px 30px 30px;
}

.description {
    font-size: 25px;
    font-weight: bold;
    width: 70%;
}

.i-think{
    font-size: 2px;
}

#nav {
    border:rgb(0, 0, 0) solid 3px;
    text-decoration: none;
    padding: 3px 20px;
    font-size:15px;
    height: 45px;
    border-radius: 10px;
    border-width: 3px;
    color:black;
}


#nav:hover {
    background-color:rgb(139, 139, 139);
    color: rgb(0, 0, 0);
    cursor: help;
    padding: 3px 20px;
}
