.contact{
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px 10px;
    background-color: rgb(162, 162, 162);
}

.contact:hover{
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px 10px;
    background-color: rgb(181, 181, 181);
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background-color: rgb(162, 162, 162);
    border-radius: 20px;
    width: 60%;
}

.aboutme {
    font-size: 20px;
    width: 60%;
}

td {
    padding: 5px;
    border: 1px solid #000000;
    text-align: center;
}

th {
    background-color: #ff4d00;
    padding: 5px;
    text-align: center;
}

.navbutton{
    border-radius: 10px;
    border-width: 3px;
    color:black;
    padding:3px 15px;
    font-size:15px;
    height: 45px;
}

#ddbutton {
    border:red solid 3px;
}

#ddbutton:hover {
    background-color: red;
}

#pbutton {
    border: rgb(0, 255, 55) solid 3px;
}

#pbutton:hover {
    background-color: rgb(0,255,55);
}

#bbutton {
    border:rgb(0, 94, 255) solid 3px;
}

#bbutton:hover {
    background-color:rgba(0, 94, 255);
}

#nav {
    border:rgb(0, 0, 0) solid 3px;
    text-decoration: none;
    padding: 3px 20px;
    font-size:15px;
    height: 45px;
    border-radius: 10px;
    border-width: 3px;
    color:black;
}


#nav:hover {
    background-color:rgb(139, 139, 139);
    color: rgb(0, 0, 0);
    cursor: help;
    padding: 3px 20px;
}

.description {
    font-size: 25px;
    font-weight: bold;
    width: 70%;
}

.i-think{
    font-size: 2px;
}
